* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif; 
    background-image: url('https://picsur.org/i/d9a7ef38-1055-4369-afbf-a8c775f6379e.gif');
    background-size: cover; 
    background-position: top left; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.card {
    background: linear-gradient(135deg, rgba(75, 0, 130, 0.9), rgba(152, 251, 152, 0.9));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 250px;
    text-align: left;
    transition: all 0.3s ease;
    overflow: hidden;
    height: 200px; 
    position: relative; 
}
.card:hover {
    height: 400px;
}
.card-content {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    transition: all 0.3s ease;
}
.card:hover .card-content {
    transform: translateY(-50px);
}
.card .icon {
    font-size: 40px;
    margin-bottom: 15px;
    color: #FFFFFF;
    text-align: center;
    display: block;
}
h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5px;
}
p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #F0F0F0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.card:hover p {
    opacity: 1;
    transform: translateY(0);
}
